In [76]:
import pandas as pd
import base64

In [77]:
df = pd.read_csv('train.csv')

In [78]:
aux = pd.DataFrame({
    'columns': df.columns,
    'types': df.dtypes,
    'missing_percentage': df.isna().sum() / df.shape[0]
})

In [79]:
aux

                 columns    types  missing_percentage
PassengerId  PassengerId    int64            0.000000
Survived        Survived    int64            0.000000
Pclass            Pclass    int64            0.000000
Name                Name   object            0.000000
Sex                  Sex   object            0.000000
Age                  Age  float64            0.198653
SibSp              SibSp    int64            0.000000
Parch              Parch    int64            0.000000
Ticket            Ticket   object            0.000000
Fare                Fare  float64            0.000000
Cabin              Cabin   object            0.771044
Embarked        Embarked   object            0.002245

In [80]:
#Numerical data: mean or median
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [81]:
#Categorical data: Unknown or mode
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [82]:
df['Cabin'].value_counts()

Unknown        687
G6               4
B96 B98          4
C23 C25 C27      4
C22 C26          3
              ...
C106             1
E31              1
D28              1
C99              1
D37              1
Name: Cabin, Length: 148, dtype: int64

In [83]:
df.shape[0]

891

In [84]:
aux = pd.DataFrame({
    'columns': df.columns,
    'types': df.dtypes,
    'missing_percentage': df.isna().sum() / df.shape[0]
})

In [85]:
aux

                 columns    types  missing_percentage
PassengerId  PassengerId    int64            0.000000
Survived        Survived    int64            0.000000
Pclass            Pclass    int64            0.000000
Name                Name   object            0.000000
Sex                  Sex   object            0.000000
Age                  Age  float64            0.000000
SibSp              SibSp    int64            0.000000
Parch              Parch    int64            0.000000
Ticket            Ticket   object            0.000000
Fare                Fare  float64            0.000000
Cabin              Cabin   object            0.000000
Embarked        Embarked   object            0.002245